<a href="https://colab.research.google.com/github/Zaier9/Manipulacion-de-datos-con-Pandas/blob/main/Conexion%20con%20Drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ingresar al Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
%cd '/content/drive/My Drive/colab'
!ls

/content/drive/My Drive/colab
'2 dataFrame.ipynb'	        primerosPasos.ipynb
'Introduccion a Pnadas.ipynb'  'Regresion Lineal.ipynb'
'Practice with PLT.ipynb'      'Regresion Logistica.ipynb'

In [5]:
'Hola {}'.format('Mundo blablabla')

'Hola Mundo blablabla'

**Crear una carpeta dentro del Drive**

In [6]:
!mkdir /content/drive/My\Drive/colab/db

In [7]:
dir_pandas = '/content/drive/My Drive/colab/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/colab/db/test.csv'

In [9]:
import pandas as pd
pd.__version__
import numpy as np

In [11]:
dict_data={
    'edad': [10, 9, 13, 14, 12, 11, 12],
    'cm': [115, 110, 130, 155, 125, 120, 125],
    'pais': ['CO', 'MX', 'CO', 'MX', 'MX', 'CH', 'CH'],
    'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1': [5, 10, 8, np.nan, 7, 8, 3],
    'Q2': [7, 9, 9, 8, 8, 8, 9]
    }
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['CO', 'MX', 'CO', 'MX', 'MX', 'CH', 'CH']}

In [12]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   CO      M   5.0   7
1     9  110   MX      F  10.0   9
2    13  130   CO      F   8.0   9
3    14  155   MX      M   NaN   8
4    12  125   MX      M   7.0   8
5    11  120   CH      M   8.0   8
6    12  125   CH      F   3.0   9

In [13]:
dir_pandas = '/content/drive/My Drive/colab/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/colab/db/test.csv'

In [17]:
df.to_csv(dir_pandas, index=False)

In [18]:
!ls /content/drive/My\Drive/colab/db

test.csv

In [28]:
df_read = pd.read_csv('/content/drive/My Drive/colab/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   CO      M   5.0   7
1     9  110   MX      F  10.0   9
2    13  130   CO      F   8.0   9
3    14  155   MX      M   NaN   8
4    12  125   MX      M   7.0   8
5    11  120   CH      M   8.0   8
6    12  125   CH      F   3.0   9

In [29]:
df.to_csv(dir_pandas, index=False)

In [30]:
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   CO      M   5.0   7
1     9  110   MX      F  10.0   9
2    13  130   CO      F   8.0   9
3    14  155   MX      M   NaN   8
4    12  125   MX      M   7.0   8
5    11  120   CH      M   8.0   8
6    12  125   CH      F   3.0   9