<a href="https://colab.research.google.com/github/Zaier9/Manipulacion-de-datos-con-Pandas/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
dict_data = {'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}

In [ ]:
df = pd.DataFrame(dict_data)
df

    CH   CO   MX
0  100  100  300
1  800  200  500
2  200  300  400

In [ ]:
import numpy as np

In [ ]:
dict_data={
    'edad': [10, 9, 13, 14, 12, 11, 12],
    'cm': [115, 110, 130, 155, 125, 120, 125],
    'pais': ['CO', 'MX', 'CO', 'MX', 'MX', 'CH', 'CH'],
    'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1': [5, 10, 8, np.nan, 7, 8, 3],
    'Q2': [7, 9, 9, 8, 8, 8, 9]
}

In [ ]:
df = pd.DataFrame(dict_data, index=['Ana', 'Benito', 'Camilo', 'Daniel', 'Erika', 'Fabian', 'Gabriela'])
df

          edad   cm pais genero    Q1  Q2
Ana         10  115   CO      M   5.0   7
Benito       9  110   MX      F  10.0   9
Camilo      13  130   CO      F   8.0   9
Daniel      14  155   MX      M   NaN   8
Erika       12  125   MX      M   7.0   8
Fabian      11  120   CH      M   8.0   8
Gabriela    12  125   CH      F   3.0   9

In [ ]:
df.index

Index(['Ana', 'Benito', 'Camilo', 'Daniel', 'Erika', 'Fabian', 'Gabriela'], dtype='object')

In [ ]:
import pandas as pd

In [ ]:
dict_data={
    'Jugador': ['Lioenl Messi', 'Antoine Griezmann', 'Pedri', 'Ilaix Moriba', 'Martin Braithwaite', 'Ousmane Dembélé', 'Ansu Fati','Sergio Busquets'],
    'Posicion': ['Delantero', 'Delantero', 'Mediocampista', 'Mediocampista', 'Delantero', 'Delantero', 'Delantero', 'Mediocampista'],
    'Nacionalidad': ['AR', 'FR', 'ES', 'ES', 'DK', 'FR', 'ES', 'ES'],
    'Peso KG': [72, 73, 60, 73, 73, 67, 66, 76],
    'Altura CM': [172, 176, 174, 185, 177, 178, 178, 189],
    'Goles 20/21': [38, 20, 4, 1, 7, 11, 5, 0],
    'Asistencias': [12, 12, 6, 0, 3, 5, 2, 5],
    'Partidos': [47, 51, 52, 14, 42, 44, 10, 50],
    'Min. Totales': [3652, 3400, 3034, 830, 1620, 2435, 436, 3184]
}

In [ ]:
df = pd.DataFrame(dict_data)
df

              Jugador       Posicion  ... Partidos  Min. Totales
0        Lioenl Messi      Delantero  ...       47          3652
1   Antoine Griezmann      Delantero  ...       51          3400
2               Pedri  Mediocampista  ...       52          3034
3        Ilaix Moriba  Mediocampista  ...       14           830
4  Martin Braithwaite      Delantero  ...       42          1620
5     Ousmane Dembélé      Delantero  ...       44          2435
6           Ansu Fati      Delantero  ...       10           436
7     Sergio Busquets  Mediocampista  ...       50          3184

[8 rows x 9 columns]

In [ ]:
df[['Jugador', 'Nacionalidad', 'Asistencias', 'Goles 20/21']]

              Jugador Nacionalidad  Asistencias  Goles 20/21
0        Lioenl Messi           AR           12           38
1   Antoine Griezmann           FR           12           20
2               Pedri           ES            6            4
3        Ilaix Moriba           ES            0            1
4  Martin Braithwaite           DK            3            7
5     Ousmane Dembélé           FR            5           11
6           Ansu Fati           ES            2            5
7     Sergio Busquets           ES            5            0

In [ ]:
df.loc[0]

Jugador         Lioenl Messi
Posicion           Delantero
Nacionalidad              AR
Peso KG                   72
Altura CM                172
Goles 20/21               38
Asistencias               12
Partidos                  47
Min. Totales            3652
Name: 0, dtype: object

In [ ]:
df.values

array([['Lioenl Messi', 'Delantero', 'AR', 72, 172, 38, 12, 47, 3652],
       ['Antoine Griezmann', 'Delantero', 'FR', 73, 176, 20, 12, 51,
        3400],
       ['Pedri', 'Mediocampista', 'ES', 60, 174, 4, 6, 52, 3034],
       ['Ilaix Moriba', 'Mediocampista', 'ES', 73, 185, 1, 0, 14, 830],
       ['Martin Braithwaite', 'Delantero', 'DK', 73, 177, 7, 3, 42, 1620],
       ['Ousmane Dembélé', 'Delantero', 'FR', 67, 178, 11, 5, 44, 2435],
       ['Ansu Fati', 'Delantero', 'ES', 66, 178, 5, 2, 10, 436],
       ['Sergio Busquets', 'Mediocampista', 'ES', 76, 189, 0, 5, 50,
        3184]], dtype=object)

In [ ]:
df.iloc[2, 1]

'Mediocampista'